.tour-table{
    max-width:1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100; 
	
}

.team-cell {
    display: flex;
    align-items: center;
    width: auto;
}
.team-cell img {
    width: 7%;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
}


.team-name {
    font-size: 18px;
}
th{
    border: none;
    padding: 5px 8px;
}

td {
    border: none;
    text-align: left;
    padding: 1px;
}

@media only screen and (max-width:720px){
    .team-cell {
        width: auto;
    }
    .team-cell img {
        width: 15%;
        border-radius: 50%;
        margin-right: 10px; /* Space between image and text */
    }

    
}

